@use '../../../themes/' as *;

.grid {
  display: grid;
}

.col_4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-content: center;

  @media (max-width: $tablets) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $mobiles) {
    grid-template-columns: 1fr;
  }
}

.col_3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  align-content: center;

  @media (max-width: $tablets) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $mobiles) {
    grid-template-columns: 1fr;
  }
}
