@use '../../../themes/' as *;

.H1{
font: $H1;

}
 

.H2{
    font: $H2;
    }


.H3{
    font:$H3;
    }


.H4{
    font:$H4;
    }    

.H5{
    font:$H5;
    }

.H6{
    font:$H6;
    }
.H7{
        font:$H7;
    }
.H8{
        font:$H8;
    }
.H9{
    font:$H9;
}
.body_xlarge{
 font:$body_xlarge;
}
.body_xlarge_2{
    font: $body_xlarg_2;
}
.body_large_1{
    font:$body-large-1;
}
.body_large_2{
    font: $body-large-2;
}
.body_medium_1{
    font: $body-medium-1;
}
.body_medium_2{
    font: $body-medium-2;
}
.body_small_1{
    font: $body-small-1;
}
.body_small_2{
    font: $body-small-2;
}










 
 