@use '../../../themes/' as *;

.wrapper {
  gap: 27px;
}

.signin_section {
  gap: 50px;
  width: 30vw;

  border: 1px solid clr(grey);
  padding: 17px 30px;
  @media (max-width: $laptops) {
    padding: 17px 25px;
  }

  @media (max-width: $tablets) {
    width: 40vw;
    padding: 17px 18px;
  }
  @media (max-width: $mobiles) {
    width: 70vw;

    padding: 17px 17px;
  }
}
