$colors: (
  white: (
    0: #ffffff,
    50: #fcfcfd,
    100: #fbfbfb,
    200: #faecc8,
    300: #f8f8f8,
    400: #f5f5f5,
    500: #f3f3f3,
    600: #eeeeee,
    700: #e9ebee,
    800: #e7e7e7,
    900: #e3e6e6,
    950: #e7e9ec,
  ),
  black: (
    0: #000000,
    100: #0f1111,
    200: #111,
    300: #131921,
    400: #131a22,
  ),
  grey: (
    0: #dddddd,
    50: #d5d9d9,
    150: #cccccc,
    200: #cdcdcd,
    250: #adb1b8,
    300: #a7acb2,
    350: #a2a6ac,
    400: #888c8c,
    450: #767676,
    500: #666666,
    550: #555c64,
    600: #555,
    650: #333333,
    700: #8d9096,
    800: #838583,
  ),
  yellow: (
    0: #faebc8,
    50: #f0c14c,
    100: #febd69,
    200: #ffa41c,
    300: #ffaa1c,
    400: #e9861f,
    500: #ffd814,
  ),
  orange: (
    0: #ff9900,
    100: #f08804,
    200: #e38c40,
    300: #ee9931,
    400: #e67a00,
    500: #c45500,
    600: #a88734,
    700: #846a29,
  ),
  blue: (
    0: #0066c0,
    100: #007185,
    200: #007189,
    300: #37475a,
    400: #232f3e,
    500: #e8f0fe,
  ),
);

@function clr($base-color, $shade: 0) {
  $color: map-get(map-get($colors, $base-color), $shade);
  @return $color;
}
