@font-face {
  font-family: 'Amazon Ember';
  src: url(../../public/fonts/Ember/AmazonEmber_Rg.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Amazon Ember';
  src: url(../../public/fonts/Ember/AmazonEmber_Bd.ttf) format('truetype');
  font-weight: 700;
}
