//Header

$H1: normal 700 1.75rem/2.5rem 'Amazon Ember';
$H2: normal 700 1.5rem/1.69rem 'Amazon Ember';
$H3: normal 700 1.38rem/1.56rem 'Amazon Ember';
$H4: normal 700 1.3rem/1.5rem 'Amazon Ember';
$H5: normal 700 1.12rem/1.3rem 'Amazon Ember';
$H6: normal 700 1rem/1.18rem 'Amazon Ember';
$H7: normal 700 0.87rem/1.06rem 'Amazon Ember';
$H8: normal 700 0.81rem/1rem 'Amazon Ember';
$H9: normal 700 0.75rem/.93rem 'Amazon Ember';
$H10: normal 700 0.68rem/.87rem 'Amazon Ember';

//Body

$body_xlarge: normal 400 1.75rem/1.93rem 'Amazon Ember';
$body_xlarg_2: normal 400 1.5rem/1.93rem 'Amazon Ember';
$body_large_1: normal 400 1.12rem/2rem 'Amazon Ember';
$body_large_2: normal 400 1rem/1.18rem 'Amazon Ember';
$body_medium_1: normal 400 0.87rem/1.06rem 'Amazon Ember';
$body_medium_2: normal 400 0.81rem/1rem 'Amazon Ember';
$body_small_1: normal 400 0.75rem/.93rem 'Amazon Ember';
$body_small_2: normal 400 0.68rem/.87rem 'Amazon Ember';
