@use '../@core/themes/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Amazon Ember', sans-serif;
  @media (max-width: $tablets) {
    font-size: 14px;
  }
  @media (max-width: $tablets) {
    font-size: 12px;
  }
}
body {
  height: 100%;
  background-color: clr(white, 900);
}
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.test {
  font: $H1;
}
.test2 {
  font: $H4;
}
